{% extends "base.html" %}

{% block title %}Clientes{% endblock %}

{% block content %}
   
    <h1>Gestión de Clientes</h1>
    <ul>
        {% for cliente in clientes %}
        <li>{{cliente.id_cliente }} - {{cliente.nombre }} - {{cliente.email }}</li>
        {% endfor %}
    </ul>

    <form action="/agregar_cliente" method="post">
        <input type="text" name="nombre" placeholder="Nombre del cliente">
        <input type="email" name="email" placeholder="Email del cliente">
        <button type="submit">Agregar</button>
    </form>

{% endblock %}