{% extends "base.html" %}

{% block title %}Gestión de Hoteles{% endblock %}

{% block content %}
    <h1>Gestión de Hoteles</h1>
    <ul>
        {% for hotel in hoteles %}
            <li>{{ hotel.mostrar_info() }} <a href="/eliminar_hotel/{{ loop.index0 }}">Eliminar</a></li>
        {% endfor %}
    </ul>

    <form action="/agregar_hotel" method="post">
        <input type="text" name="nombre" placeholder="Nombre del hotel">
        <input type="text" name="ubicacion" placeholder="Ubicación del hotel">
        <button type="submit">Agregar</button>
    </form>

{% endblock %}