{% extends "base.html" %}

{% block title %}Reservas{% endblock %}

{% block content %}

<h1>Gestión de Reservas</h1>
<ul>
    {% for reserva in reservas %}
    <li>{{ reserva.id_reserva }} - {{ reserva.cliente.nombre }} - {{ reserva.habitacion.numero }} - {{
        reserva.fecha_entrada }} a {{ reserva.fecha_salida }} <a href="/eliminar_reserva/{{ loop.index0 }}">Eliminar</a>
    </li>
    {% endfor %}
</ul>

<form action="{{ url_for('agregar_reserva') }}" method="POST" class="space-y-4">
    <label>
        Habitación:
        <select name="habitacion_id" required>
            {% for habitacion in habitaciones %}
            {% if habitacion.disponible %}
            <option value="{{ habitacion.id }}">Habitación {{ habitacion.numero }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </label>
    <label>
        Fecha entrada:
        <input type="date" name="fecha_entrada" required>
    </label>
    <label>
        Fecha salida:
        <input type="date" name="fecha_salida" required>
    </label>
    <button type="submit" class="px-4 py-2 bg-primary text-white rounded-lg">Reservar</button>
</form>

{% endblock %}