{% extends "base.html" %}

{% block title %}Reservas{% endblock %}

{% block content %}

  <h1>Gestión de Reservas</h1>
    <ul>
        {% for reserva in reservas %}
        <li>{{ reserva.id_reserva }} - {{ reserva.cliente.nombre }} - {{ reserva.habitacion.numero }} - {{ reserva.fecha_entrada }} a {{ reserva.fecha_salida }} <a href="/eliminar_reserva/{{ loop.index0 }}">Eliminar</a></li>
        {% endfor %}
    </ul>

    <form action="/agregar_reserva" method="post">
        <select name="habitacion">
            {% for habitacion in habitaciones %}
                <option value="{{ habitacion.numero }}">{{ habitacion.numero }} - {{ habitacion.tipo }} - {{ habitacion.precio }}</option>
            {% endfor %}
        </select>
        <select name="cliente">
            {% for cliente in clientes %}
            <option value="{{ cliente.nombre }}">{{ cliente.nombre }}</option>
            {% endfor %}
        </select>
        <input type="date" name="fecha_entrada" placeholder="Fecha de Entrada">
        <input type="date" name="fecha_salida" placeholder="Fecha de Salida">
        <button type="submit">Agregar</button>
    </form>

{% endblock %}